####################################################################
# General
####################################################################

# Once installation is complete, automatically power off.
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
d-i ubiquity/summary note
ubiquity ubiquity/reboot boolean true
ubiquity ubiquity/poweroff boolean true


####################################################################
# Installation Sources
####################################################################

# Configure the sources.list
d-i mirror/country string manual
d-i mirror/http/hostname  string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu/
d-i apt-setup/use_mirror boolean true
d-i apt-setup/mirror/error select Change mirror
d-i apt-setup/multiverse boolean true
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true

####################################################################
# Networking
####################################################################

# Network Configuration
d-i netcfg/choose_interface select auto
d-i netcfg/disable_dhcp boolean false
d-i netcfg/wireless_wep string
d-i netcfg/get_hostname string ubuntu
d-i netcfg/dhcp_options select Do not configure the network at this time
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_timeout string 3

####################################################################
# Disk Partitioning / Boot loader
####################################################################

### Disk Partitioning ###

# Configure auto partitioner
d-i partman-auto/automatically_partition select use_device
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe_file string /cdrom/install/disk-recipe
d-i partman-auto/disk string /dev/sda

# Do not filter out disks with mounted partitions.
d-i partman/filter_mounted boolean false
# Remove existing software RAID partitions if they exist.
d-i partman-md/device_remove_md boolean true
# Do not encrypt user's home directory.
d-i user-setup/encrypt-home boolean false
# Do not require mount points for partitions with filesystems.
d-i partman-basicfilesystems/no_mount_point boolean false

# Partition without confirmation
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select Finish partitioning and write changes to disk
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm boolean true

### Boot loader ###

# This one makes grub-installer install to the MBR even if it finds some other OS
d-i grub-installer/with_other_os boolean true
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/sda

####################################################################
# Localizations / Timezone
####################################################################

### Keyboard selection ###
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/variantcode string

### Locale ###
d-i debian-installer/locale string en_US

### Timezone ###
d-i time/zone select US/Pacific
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean false
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string us

### OEM-Config
d-i oem-config/enable boolean true
d-i oem-config/remove boolean true
d-i oem-config/remove_extras boolean true

#d-i oem-config/install-language-support boolean true
d-i ubiquity/only-show-installable-languages boolean true

####################################################################
# User Creation
####################################################################

# Root User
d-i passwd/root-login boolean false

# Mortal User
d-i passwd/user-fullname string OEM 
d-i passwd/username string oem
d-i passwd/user-password password oem
d-i passwd/user-password-again password oem
d-i passwd/auto-login boolean true
d-i user-setup/allow-password-weak boolean true

# success command
d-i ubiquity/success_command string /cdrom/install/success-command 
